<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="AzurePersonsDB" connectionString="Data Source=database-dcodev.database.windows.net;Initial Catalog=PersonsDB;User ID=dco1993;Password=972799352@dCo" />
	</connectionStrings>
</configuration>
